[Unit]
Description=Set Hostname
After=basic.target
Wants=basic.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/set_hostname.sh

[Install]
WantedBy=multi-user.target
