[Unit]
Description=Set Hostname
DefaultDependencies=no
RequiresMountsFor=/srv
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/set_hostname

[Install]
WantedBy=multi-user.target
